---
import "../styles/global.css";
import TaskList from "../components/TaskList.astro";
---

<!DOCTYPE html>
<html lang="ru" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задачи</title>
    <!-- Tailwind глобальные стили -->
  </head>
  <body class="bg-transparent text-white w-full h-full m-0">
    <TaskList />
    <script type="module" src="/TaskFlow/scripts/tasks.js"></script>
  </body>
</html>
